node-red/app/flows/nodered-con.json
[{"id":"b9679144edb4cdbf","type":"tab","label":"Node-RED Con 2021","disabled":false,"info":"","env":[]},{"id":"a5200cc7c81bbd94","type":"debug","z":"b9679144edb4cdbf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":260,"wires":[]},{"id":"3c325238f5ef41ea","type":"inject","z":"b9679144edb4cdbf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["b645a6f236965b84","17639aabe90e7a88"]]},{"id":"17639aabe90e7a88","type":"device","z":"b9679144edb4cdbf","name":"device state","x":610,"y":260,"wires":[["a5200cc7c81bbd94","19c7900682223295"]]},{"id":"19c7900682223295","type":"mqtt out","z":"b9679144edb4cdbf","name":"sensors","topic":"sensors","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47ef84a5adee152c","x":870,"y":340,"wires":[]},{"id":"b645a6f236965b84","type":"random","z":"b9679144edb4cdbf","name":"","low":1,"high":10,"inte":"true","property":"payload","x":600,"y":320,"wires":[["19c7900682223295","a5200cc7c81bbd94"]]},{"id":"47ef84a5adee152c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]